table {
  width: 70%;
}

table,
th {
  border: solid 1px #000;
  border-collapse: collapse;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  text-overflow: clip;
}

#cont {
  display: inline;
}

input {
  width: 95%;
  justify-content: space-evenly;
  padding: 1px;
  border: hidden;
}

td {
  -webkit-o-display: inline-flex;
  border: solid 1px #000;
  text-align: center;
  text-overflow: clip;
  border-right-style: solid;
}

