body{
    padding: 0px;
    margin: 0px;
    position: initial;
    z-index: 1;
}

#cont {
    display: grid;
    overflow-x: scroll;
    overflow-y: scroll;
    text-align: center;
    position: initial;
    z-index: 1;
    scrollbar-width: 1366px;
}

#divCont{
    position: initial;
    overflow-x: scroll;
    overflow-y: scroll;
    z-index: 2;
}

#input{
    position: absolute;
    width: 75px;
    height: 20px;
    z-index: 3;
}

#div-col-header{
    position: absolute;
    width: 2732px;
    height: 20px;
    z-index: 2;
    overflow: clip;
    top: 0px;
    left: 75px;
    overflow: hidden;
    vertical-align: top;
}

#colh{
    position: relative;
    width: 75px;
    height: 20px;
    font-size: 12px;
    text-align: center;
    background-color: #E9E9E9;
    border-style: solid;
    border-width: thin;
    line-height: 20px;
    float: left;
    display: block;
    overflow: hidden;
}

#div-row-header{
    position: absolute;
    width: 75px;
    height: 2048px;
    left: 0px;
    top: 20px;
    z-index: 2;
    overflow: hidden;
}

#rowh{
    left: 0px;
    padding: 0px;
    margin: 0px;
    font-size: 12px;
    text-align: center;
    display: block;
    height: 20px;
    width: 100%;
    background-color: #E9E9E9;
    border-style: solid;
    border-width: thin;
}

.sticky {
    position: sticky;
    top: 0;
    width: 100%
}

#add-row{
    position: relative;
    bottom: 0px;
    width: fit-content;
    height: 25px;
    overflow: auto;
    z-index: 2;
}

#row-count{
    position: relative;
    width: fit-content;
    height: 3%;
    bottom: 0px;
    overflow: auto;
    display: inline-block;
    z-index: 2;
}

#add-col{
    position: relative;
    bottom: 0px;
    width: fit-content;
    height: 25px;
    overflow: auto;
    z-index: 2;
}

#col-count{
    position: relative;
    width: fit-content;
    height: 3%;
    bottom: 0px;
    overflow: auto;
    display: inline-block;
    z-index: 2;
}